@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Noto+Serif+JP&display=swap");
/* Global styles */
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-14col {
  grid-column: span 14 / span 14;
  grid-template-columns: repeat(14, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to lhtrpg sheets */
div.app.lhtrpg.actor {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.app.lhtrpg.actor div.window-resizable-handle {
  visibility: hidden;
}

div.app.lhtrpg.actor .window-header {
  position: absolute;
  border-bottom: none;
  top: 25px;
  left: 240px;
  height: 50px;
  width: 358px;
  z-index: 1;
  overflow: visible;
}

div.app.lhtrpg.actor .window-header .window-title {
  display: none !important;
}

div.app.lhtrpg.actor .window-header h4.window-title,
div.app.lhtrpg.actor .window-header a.header-button.configure-token,
div.app.lhtrpg.actor .window-header a.header-button.configure-sheet {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

div.app.lhtrpg.actor .window-header a.header-button.close {
  position: absolute;
  top: 5px;
  left: 355px;
  background-image: url("../assets/ui/button_close.webp");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 60px;
  font-size: 0;
  -webkit-transition: background-size 0.1s ease-in;
  -o-transition: background-size 0.1s ease-in;
  transition: background-size 0.1s ease-in;
}

div.app.lhtrpg.actor .window-header a.header-button.close:hover {
  -webkit-filter: brightness(1.25) drop-shadow(0 0 3px white);
  filter: brightness(1.25) drop-shadow(0 0 3px white);
  background-size: 55px;
}

div.app.lhtrpg.actor .window-header a.header-button.close:active {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  background-size: 50px;
}

div.app.lhtrpg.actor section.window-content {
  background: transparent;
  overflow: hidden;
  background: url("../assets/ui/bg_charsheet.webp");
  background-size: 700px 700px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.4));
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.4));
  overflow: visible;
}

div.app.lhtrpg.actor .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 285px;
  flex: 0 0 285px;
  height: 285px;
  width: 285px;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-clip-path: path("M0 0 285 0V142.5L142.5 285 0 142.5V0");
  clip-path: path("M0 0 285 0V142.5L142.5 285 0 142.5V0");
  border: 0px transparent;
}

div.app.lhtrpg.actor .class-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 130px;
  flex: 0 0 130px;
  height: 130px;
  width: 130px;
  position: absolute;
  top: 130px;
  left: -140px;
  border: 0px transparent;
}

div.app.lhtrpg.actor .sheet-header .collapsible {
  position: absolute;
  top: 184px;
  left: 623px;
  background: url("../assets/ui/uncollapse.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  height: 60px;
  width: 60px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 1;
}

div.app.lhtrpg.actor .sheet-header .active {
  -webkit-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

div.app.lhtrpg.actor .sheet-header .collapsible:hover {
  background-size: 65px;
  -webkit-filter: drop-shadow(0px 0px 3px white);
  filter: drop-shadow(0px 0px 3px white);
}

div.app.lhtrpg.actor .sheet-header .content {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.05s ease-out;
  transition: -webkit-transform 0.05s ease-out;
  -o-transition: transform 0.05s ease-out;
  transition: transform 0.05s ease-out;
  transition: transform 0.05s ease-out, -webkit-transform 0.05s ease-out;
}

div.app.lhtrpg.actor .sheet-header .info-windows {
  position: absolute;
  top: 135px;
  left: 640px;
  -webkit-transform: perspective(400px) rotateY(-90deg);
  transform: perspective(400px) rotateY(-90deg);
  max-width: 211px;
}

div.app.lhtrpg.actor .sheet-header .info-windows .hate-window,
div.app.lhtrpg.actor .sheet-header .info-windows .fatigue-window {
  position: relative;
  margin-top: 5px;
  height: 65px;
  width: 211px;
  background-image: url("../assets/ui/info_window_short.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

div.app.lhtrpg.actor .sheet-header .info-windows .hate-window .hate-label,
div.app.lhtrpg.actor .sheet-header .info-windows .hate-window .fatigue-label,
div.app.lhtrpg.actor .sheet-header .info-windows .fatigue-window .hate-label,
div.app.lhtrpg.actor .sheet-header .info-windows .fatigue-window .fatigue-label {
  font-size: 12px;
  text-shadow: 0 0 2px white;
  color: white;
  position: absolute;
  top: 44px;
  left: 42px;
  width: 65px;
}

div.app.lhtrpg.actor .sheet-header .info-windows .hate-window .hate-input,
div.app.lhtrpg.actor .sheet-header .info-windows .hate-window .fatigue-input,
div.app.lhtrpg.actor .sheet-header .info-windows .fatigue-window .hate-input,
div.app.lhtrpg.actor .sheet-header .info-windows .fatigue-window .fatigue-input {
  font-size: 32px;
  height: 32px;
  width: 140px;
  font-family: "Edu SA Beginner", cursive;
  text-shadow: 0 0 3px white;
  color: white;
  text-align: center;
  position: absolute;
  top: 2px;
  left: 38px;
}

div.app.lhtrpg.actor .sheet-header .header-fields {
  position: absolute;
  top: 50px;
  left: 295px;
}

div.app.lhtrpg.actor .sheet-header .header-fields .charname {
  font-size: 50px;
  position: relative;
  top: -10px;
  left: -25px;
  height: 90px;
  width: 370px;
  text-align: center;
}

div.app.lhtrpg.actor .sheet-header .header-fields .charname input {
  vertical-align: -webkit-baseline-middle;
}

div.app.lhtrpg.actor .sheet-header .header-fields .race {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

div.app.lhtrpg.actor .sheet-header .header-fields .race label {
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  font-size: 20px;
  margin-right: 30px;
  color: #d6ffda;
  text-shadow: 0 0 2px #d6ffda;
}

div.app.lhtrpg.actor .sheet-header .header-fields .race input {
  font-size: 30px;
  height: 30px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
}

div.app.lhtrpg.actor .sheet-header .header-fields .classes {
  margin-top: 15px;
  height: 85px;
  width: 230px;
}

div.app.lhtrpg.actor .sheet-header .header-fields .classes .subclass {
  font-size: 25px;
  color: #d6ffda;
  text-shadow: 0 0 2px #d6ffda;
}

div.app.lhtrpg.actor .sheet-header .header-fields .classes .class {
  font-size: 35px;
  height: 50px;
  margin-left: 5px;
}

div.app.lhtrpg.actor .sheet-header .header-fields .levels {
  font-size: 40px;
  font-family: "Edu SA Beginner", cursive;
  position: absolute;
  top: 163px;
  left: 270px;
  text-align: center;
  width: 70px;
}

div.app.lhtrpg.actor .sheet-header .header-fields .levels input {
  height: 50px;
}

div.app.lhtrpg.actor .sheet-header .header-fields .levels .level {
  position: relative;
  top: 2px;
}

div.app.lhtrpg.actor .sheet-body {
  position: absolute;
  top: 320px;
  left: 139px;
  height: 350px;
  width: 500px;
  margin-top: 0;
  color: white;
  text-shadow: 0 0 2px white;
}

div.app.lhtrpg.actor .sheet-body .stats {
  margin-left: 5px;
  margin-right: 5px;
  gap: 4px;
  grid-template-rows: 95px 95px;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status {
  gap: 14px;
  text-align: center;
  margin-top: 0;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status img {
  border: none;
  height: 25px;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp h4:first-child {
  background: -webkit-linear-gradient(#63da30, #e2fb2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-weight: bold;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp input[name="data.health.value"] {
  background: -webkit-linear-gradient(#63da30, #e2fb2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-weight: bold;
  text-align: right;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp input[name="data.health.max"] {
  text-align: left;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate h4:first-child {
  background: -webkit-linear-gradient(#17d7f0, #c484da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-weight: bold;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate input[name="data.fate.value"] {
  background: -webkit-linear-gradient(#17d7f0, #c484da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-weight: bold;
  text-align: right;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate input[name="data.fate.max"] {
  text-align: left;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate {
  text-align: center;
  grid-column-end: span 3;
  font-size: 25px;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate h4 {
  color: #d6ffda;
  margin: 0;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-shadow: 0 0 1px white;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge input {
  font-family: "Edu SA Beginner", cursive;
  font-size: 25px;
  text-shadow: none;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge span,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge span,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge span,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge span {
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  color: #9cf3da;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .barrier,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .regen,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .decay,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .barrier,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .regen,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .decay,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .barrier,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .regen,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .decay,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .barrier,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .regen,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .decay {
  font-size: 12px;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .barrier input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .regen input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .decay input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .barrier input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .regen input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .decay input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .barrier input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .regen input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .decay input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .barrier input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .regen input,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .decay input {
  font-size: 16px;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .barrier h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .regen h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .decay h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .barrier h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .regen h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .decay h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .barrier h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .regen h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .decay h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .barrier h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .regen h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .decay h4 {
  position: relative;
  top: -8px;
  color: #d6ffda;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .hp-gauge .decay h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .hp .fate-gauge .decay h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .hp-gauge .decay h4,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .fate .fate-gauge .decay h4 {
  color: #c6515d;
  text-shadow: 0 0 1px #c6515d;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .power {
  margin-top: 0;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .power h4 {
  color: #d6ffda;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .power .power-attack,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .power .power-resto,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .power .power-magic {
  position: relative;
  top: -15px;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .defense {
  margin-top: 0;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .defense h4 {
  color: #d6ffda;
}

div.app.lhtrpg.actor .sheet-body .stats .battle-status .defense .defense-phys,
div.app.lhtrpg.actor .sheet-body .stats .battle-status .defense .defense-magic {
  position: relative;
  top: -15px;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes {
  gap: 14px;
  grid-template-rows: 150px 10px 30px;
  text-align: center;
  margin-top: 0;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes h4 {
  color: #d6ffda;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: -5px;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes h4.attr-name {
  font-size: 20px;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .grid {
  gap: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .attr-inputs {
  font-family: "Edu SA Beginner", cursive;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .attr-inputs .attr-mod-input {
  color: #d6ffda;
  font-size: 25px;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .attr-inputs .attr-input {
  position: relative;
  top: -5px;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .check h4 {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .check div {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Edu SA Beginner", cursive;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .check input {
  min-width: 0;
  padding: 0;
  -webkit-box-flex: 0.2;
  -ms-flex-positive: 0.2;
  flex-grow: 0.2;
}

div.app.lhtrpg.actor .sheet-body .stats .attributes .check span {
  color: #d6ffda;
  -webkit-box-flex: 0.1;
  -ms-flex-positive: 0.1;
  flex-grow: 0.1;
  min-width: 0;
}

div.app.lhtrpg.actor .sheet-body h4.tab-title {
  position: absolute;
  top: 317px;
  left: 47px;
  font-family: 'Edu SA Beginner';
  font-size: 25px;
  color: #d6ffda;
}

div.app.lhtrpg.actor .sheet-tabs {
  position: absolute;
  top: 320px;
  left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none;
}

div.app.lhtrpg.actor .sheet-tabs img {
  border: none;
  height: 60px;
}

div.app.lhtrpg.actor .sheet-tabs a {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-bottom: 5px;
}

div.app.lhtrpg.actor .sheet-tabs a.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: -webkit-filter 0.5s ease-out;
  transition: -webkit-filter 0.5s ease-out;
  -o-transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
}

div.app.lhtrpg.actor.minimized h4.window-title {
  display: block !important;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-size: 24px;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: auto;
}

div.app.lhtrpg.actor.minimized .window-header {
  height: 78px;
  width: 222px;
  border: 0;
  background-image: url("../assets/ui/info_window.webp");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.app.lhtrpg.actor.minimized .window-header a.header-button.close {
  position: absolute;
  top: -10px;
  left: 165px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.lhtrpg {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for LHTrpg (can be removed if not needed) */
  color: white;
  font-family: "Noto Serif JP", serif;
}

.lhtrpg .item-form {
  font-family: "Noto Serif JP", serif;
}

.lhtrpg .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.lhtrpg .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.lhtrpg .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.lhtrpg .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.lhtrpg .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.lhtrpg .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.lhtrpg .sheet-body,
.lhtrpg .sheet-body .tab,
.lhtrpg .sheet-body .tab .editor {
  height: 100%;
}

.lhtrpg .tox .tox-editor-container {
  background: #fff;
}

.lhtrpg .tox .tox-edit-area {
  padding: 0 8px;
}

.lhtrpg .resource-label {
  font-weight: bold;
}

.lhtrpg .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.lhtrpg .items-header > * {
  font-size: 14px;
  text-align: center;
}

.lhtrpg .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lhtrpg .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.lhtrpg .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lhtrpg .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lhtrpg .items-list .item-name h3, .lhtrpg .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.lhtrpg .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.lhtrpg .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.lhtrpg .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.lhtrpg .items-list .item:last-child {
  border-bottom: none;
}

.lhtrpg .items-list .item .item-name {
  color: #191813;
}

.lhtrpg .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.lhtrpg .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.lhtrpg .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.lhtrpg .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.lhtrpg .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.lhtrpg .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.lhtrpg .effects .item .effect-source,
.lhtrpg .effects .item .effect-duration,
.lhtrpg .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.lhtrpg .effects .item .effect-controls {
  border: none;
}

.lhtrpg input {
  background: transparent;
  border: 0;
  text-shadow: 0 0 2px white;
  color: white;
}

.lhtrpg input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 0 5px #4ad0b3;
}
