<form
  class="{{cssClass}}"
  autocomplete="off"
>
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      title="{{actor.name}}"
      alt=""
      data-edit="img"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </h1>
      <div class="grid grid-3col">
        <div class="resource grid-span-3">
          <div class="flexrow">
            <label class="resource-label"
              >{{localize 'LHTRPG.Label.Tags'}}</label
            >
            <div class="align-right">
              <a
                class="tag-control"
                data-action="create"
              >
                <i class="fas fa-plus"></i>
              </a>
              <a
                class="tag-control"
                data-action="edit"
              >
                <i class="fas fa-edit"></i>
              </a>
            </div>
          </div>
          <ol class="tag-list">
            {{#each system.tags}}
            <li class="tag">
              <span>{{this}}</span>
              {{#if @root.flags.lhtrpg.isTagEditActive}}
              <a
                class="tag-control"
                data-action="delete"
                data-tag-id="{{@index}}"
              >
                <i class="fas fa-trash"></i>
              </a>
              {{/if}}
            </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav
    class="sheet-tabs tabs"
    data-group="primary"
  >
    <a
      class="item"
      data-tab="status"
      >Status</a
    >
    <a
      class="item"
      data-tab="description"
      >Description</a
    >
    <a
      class="item"
      data-tab="skills"
      >Skills</a
    >
    <a
      class="item"
      data-tab="effects"
      >Effects</a
    >
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body monster">
    <div
      class="tab"
      data-group="primary"
      data-tab="status"
    >
      <section class="sheet-stats">
        <div class="stat-div rank">
          <label>{{localize 'LHTRPG.Monster.Rank'}}</label>
          <div>
            <input
              class="monsterRank-input"
              name="system.rank"
              type="text"
              value="{{system.rank}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="2"
            />
          </div>
        </div>

        <div class="stat-div">
          <label class="small-label">{{localize 'LHTRPG.Str'}}</label>
          <div>
            <input
              class="monsterSTR-input small-input"
              name="system.attributes.str.mod"
              type="text"
              value="{{system.attributes.str.mod}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="stat-div">
          <label class="small-label">{{localize 'LHTRPG.Dex'}}</label>
          <div>
            <input
              class="monsterDEX-input small-input"
              name="system.attributes.dex.mod"
              type="text"
              value="{{system.attributes.dex.mod}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="stat-div">
          <label class="small-label">{{localize 'LHTRPG.Pow'}}</label>
          <div>
            <input
              class="monsterPOW-input small-input"
              name="system.attributes.pow.mod"
              type="text"
              value="{{system.attributes.pow.mod}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="stat-div">
          <label class="small-label">{{localize 'LHTRPG.Int'}}</label>
          <div>
            <input
              class="monsterINT-input small-input"
              name="system.attributes.int.mod"
              type="text"
              value="{{system.attributes.int.mod}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Label.HP'}}</label>
          <div>
            <input
              class="monsterHP-input"
              name="system.health.value"
              type="text"
              value="{{system.health.value}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="4"
            />
            <span>/</span>
            <input
              class="monsterHP-input max"
              name="system.health.max"
              type="text"
              value="{{system.health.max}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="4"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Label.Fate'}}</label>
          <div>
            <input
              class="monsterFate-input"
              name="system.fate.value"
              type="text"
              value="{{system.fate.value}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="4"
            />
            <span>/</span>
            <input
              class="monsterFate-input max"
              name="system.fate.max"
              type="text"
              value="{{system.fate.max}}"
              placeholder="0"
              data-dtype="Number"
              maxlength="4"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Monster.Identification'}}</label>
          <div>
            <input
              class="monsterIdDif-input"
              name="system.idendification"
              type="text"
              value="{{system.idendification}}"
              placeholder="-"
              data-dtype="text"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Monster.HateMultiplier'}}</label>
          <div>
            <input
              class="monsterHateMulti-input"
              name="system.hateMultiplier"
              type="text"
              value="{{system.hateMultiplier}}"
              placeholder="-"
              data-dtype="text"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Check.Evasion'}}</label>
          <div>
            <input
              class="monsterEvasion-input"
              name="system.checks.evasion"
              type="text"
              value="{{system.checks.evasion}}"
              placeholder="-"
              data-dtype="text"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Check.Resistance'}}</label>
          <div>
            <input
              class="monsterResistance-input"
              name="system.checks.resistance"
              type="text"
              value="{{system.checks.resistance}}"
              placeholder="-"
              data-dtype="text"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Monster.PDef'}}</label>
          <div>
            <input
              class="monsterPDef-input"
              name="system.battle-status.defense.phys"
              type="text"
              value="{{system.battle-status.defense.phys}}"
              placeholder="-"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Monster.MDef'}}</label>
          <div>
            <input
              class="monsterMDef-input"
              name="system.battle-status.defense.magic"
              type="text"
              value="{{system.battle-status.defense.magic}}"
              placeholder="-"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Monster.Speed'}}</label>
          <div>
            <input
              class="monsterSpeed-input"
              name="system.battle-status.speed"
              type="text"
              value="{{system.battle-status.speed}}"
              placeholder="-"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="stat-div">
          <label>{{localize 'LHTRPG.Monster.Initiative'}}</label>
          <div>
            <input
              class="monsterInit-input"
              name="system.battle-status.initiative"
              type="text"
              value="{{system.battle-status.initiative}}"
              placeholder="-"
              data-dtype="Number"
              maxlength="3"
            />
          </div>
        </div>

        <div class="grid grid-6col grid-span-6 status-row">
          <div class="status-checkbox flexcol">
            <label for="system.bad-status.dazed"
              >{{localize 'LHTRPG.Label.Dazed'}}</label
            >
            <input
              name="system.bad-status.dazed"
              type="checkbox"
              {{checked
              system.bad-status.dazed}}
              data-dtype="Boolean"
            />
          </div>
          <div class="status-checkbox flexcol">
            <label for="system.bad-status.rigor"
              >{{localize 'LHTRPG.Label.Rigor'}}</label
            >
            <input
              name="system.bad-status.rigor"
              type="checkbox"
              {{checked
              system.bad-status.rigor}}
              data-dtype="Boolean"
            />
          </div>

          <div class="status-checkbox flexcol">
            <label for="system.bad-status.confused"
              >{{localize 'LHTRPG.Label.Confused'}}</label
            >
            <input
              name="system.bad-status.confused"
              type="checkbox"
              {{checked
              system.bad-status.confused}}
              data-dtype="Boolean"
            />
          </div>
          <div class="status-checkbox flexcol">
            <label for="system.bad-status.staggered"
              >{{localize 'LHTRPG.Label.Staggered'}}</label
            >
            <input
              name="system.bad-status.staggered"
              type="checkbox"
              {{checked
              system.bad-status.staggered}}
              data-dtype="Boolean"
            />
          </div>

          <div class="status-checkbox flexcol">
            <label for="system.bad-status.afflicted"
              >{{localize 'LHTRPG.Label.Afflicted'}}</label
            >
            <input
              name="system.bad-status.afflicted"
              type="checkbox"
              {{checked
              system.bad-status.afflicted}}
              data-dtype="Boolean"
            />
          </div>
          <div class="status-checkbox flexcol">
            <label for="system.bad-status.overconfident"
              >{{localize 'LHTRPG.Label.Overconfident'}}</label
            >
            <input
              name="system.bad-status.overconfident"
              type="checkbox"
              {{checked
              system.bad-status.overconfident}}
              data-dtype="Boolean"
            />
          </div>
        </div>
      </section>
    </div>
    {{!-- Description Tab --}}
    <div
      class="tab"
      data-group="primary"
      data-tab="description"
    >
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the
      parent actor's (if any) roll data to the rollData prop. --}} {{editor
      enrichments.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>

    <div
      class="tab"
      data-group="primary"
      data-tab="skills"
    >
      {{> "systems/lhtrpg/templates/actor/parts/monster-skills.html"}}
    </div>

    {{!-- Effects Tab --}}
    <div
      class="tab effects"
      data-group="primary"
      data-tab="effects"
    >
      {{!-- As you add new fields, add them in here! --}} {{>
      "systems/lhtrpg/templates/actor/parts/monster-effects.html"}}
    </div>
  </section>
</form>
