# IDE
.idea/
.vs/
.vscode/
lhtrpg.code-workspace

# Node Modules
node_modules/
npm-debug.log

# Eslint
.eslintcache

# Foundry
*.lock

# gulp
css/
css/lhtrpg.css

# archiving
zip.bat
lhtrpg.zip
dist

*.ps1
