$lhtrpg-font-primary: 'Noto Serif JP', serif;
$lhtrpg-font-secondary: 'Edu SA Beginner', cursive;

$lhtrpg-font-color-primary: white;
$lhtrpg-font-color-ui: #d6ffda;
$lhtrpg-font-focus-shadow: #4ad0b3;
$lhtrpg-font-color-bad-status: #c6515d;
$lhtrpg-color-dark-green: #081910;

$lhtrpg-items-font-color: #444;
$lhtrpg-items-label-bg-color:#666666;
$lhtrpg-items-bg-color:#F9F9F9;
$lhtrpg-items-bg-secondary-color: #222222;