$lhtrpg-font-primary: 'Noto Serif JP', serif;
$lhtrpg-font-secondary: 'Edu SA Beginner', cursive;

$lhtrpg-font-color-primary: white;
$lhtrpg-font-color-ui: #d6ffda;
$lhtrpg-font-focus-shadow: #4ad0b3;