<h4 class="tab-title">EFFECTS</h4>

<ol class="items-list effects-list">
  {{#each effects as |section sid|}} {{#unless section.hidden}}
  <li
    class="items-header flexrow"
    data-effect-type="{{section.type}}"
  >
    <h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
    <div class="effect-source">Source</div>
    <div class="effect-source">Duration</div>
    <div class="item-controls effect-controls flexrow">
      <a
        class="effect-control"
        title="{{localize 'LHTRPG.EffectCreate'}}"
        data-action="create"
      >
        <i class="fas fa-plus"></i> {{localize "LHTRPG.Add"}}
      </a>
    </div>
  </li>

  <ol class="item-list">
    {{#each section.effects as |effect|}}
    <li
      class="item effect flexrow"
      data-effect-id="{{effect.id}}"
    >
      <div class="item-name effect-name flexrow">
        <img
          class="item-image"
          src="{{effect.icon}}"
          alt=""
        />
        <h4>{{effect.name}}</h4>
      </div>
      <div class="effect-source">{{effect.sourceName}}</div>
      <div class="effect-duration">{{effect.duration.label}}</div>
      <div class="item-controls effect-controls flexrow">
        <a
          class="effect-control"
          title="{{localize 'LHTRPG.EffectToggle'}}"
          data-action="toggle"
        >
          <i
            class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"
          ></i>
        </a>
        <a
          class="effect-control"
          title="{{localize 'LHTRPG.EffectEdit'}}"
          data-action="edit"
        >
          <i class="fas fa-edit"></i>
        </a>
        <a
          class="effect-control"
          title="{{localize 'LHTRPG.EffectDelete'}}"
          data-action="delete"
        >
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/unless}} {{/each}}
</ol>
