<h4 class="tab-title">STATUS</h4>

<div class="stats grid grid-14col">
  {{!-- HP, Fate, power, etc --}}
  <div class="battle-status grid grid-6col grid-span-6">
    <div class="hp flex grid-span-3">
      <h4>{{localize 'LHTRPG.Label.HP'}}</h4>
      <div class="hp-gauge flexrow">
        <input
          class="hp-input current"
          name="system.health.value"
          type="text"
          value="{{system.health.value}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="3"
        />
        <span>/</span>
        <input
          class="hp-input max"
          name="system.health.max"
          type="text"
          value="{{system.health.max}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="3"
        />
      </div>
    </div>
    <div class="fate flex grid-span-3">
      <h4>{{localize 'LHTRPG.Label.Fate'}}</h4>
      <div class="fate-gauge flexrow">
        <input
          class="fate-input"
          name="system.fate.value"
          type="text"
          value="{{system.fate.value}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="3"
        />
        <span>/</span>
        <input
          class="fate-input"
          name="system.fate.max"
          type="text"
          value="{{system.fate.max}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="3"
        />
      </div>
    </div>

    <div class="speedInit grid grid-6col grid-span-6">
      <div class="grid-span-3 flex flexrow">
        <div
          class="speed"
          title="{{localize 'LHTRPG.Tooltip.Speed'}}"
        >
          <input
            class="speed-input"
            name="system.battleStatus.speed.total"
            type="text"
            value="{{system.battleStatus.speed.total}}"
            placeholder="0"
            data-dtype="Number"
            maxlength="2"
            disabled="true"
          />
          <h4>
            <img
              src="/systems/lhtrpg/assets/ui/speed.svg"
              alt=""
            />
          </h4>
        </div>
      </div>
      <div class="grid-span-3 flex flexrow">
        <div
          class="initiative"
          title="{{localize 'LHTRPG.Tooltip.Initiative'}}"
        >
          <input
            class="initiative-input"
            name="system.battleStatus.initiative.total"
            type="text"
            value="{{system.battleStatus.initiative.total}}"
            placeholder="0"
            data-dtype="Number"
            maxlength="2"
            disabled="true"
          />
          <h4>
            <img
              src="/systems/lhtrpg/assets/ui/initiative.svg"
              alt=""
            />
          </h4>
        </div>
      </div>
    </div>

    <div class="power grid grid-3col grid-span-3">
      <h4 class="grid-span-3">{{localize 'LHTRPG.Label.Power'}}</h4>
      <div
        class="power-attack grid-span-1"
        title="{{localize 'LHTRPG.Tooltip.AttackPower'}}"
      >
        <input
          class="power-attack-input"
          name="system.battleStatus.power.attack.total"
          type="text"
          value="{{system.battleStatus.power.attack.total}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
          disabled="true"
        />
        <h4>
          <img
            src="/systems/lhtrpg/assets/ui/attack.svg"
            alt=""
          />
        </h4>
      </div>
      <div
        class="power-resto grid-span-1"
        title="{{localize 'LHTRPG.Tooltip.RestorationPower'}}"
      >
        <input
          class="power-resto-input"
          name="system.battleStatus.power.restoration.total"
          type="text"
          value="{{system.battleStatus.power.restoration.total}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
          disabled="true"
        />
        <h4>
          <img
            src="/systems/lhtrpg/assets/ui/resto.svg"
            alt=""
          />
        </h4>
      </div>
      <div
        class="power-magic grid-span-1"
        title="{{localize 'LHTRPG.Tooltip.MagicPower'}}"
      >
        <input
          class="power-magic-input"
          name="system.battleStatus.power.magic.total"
          type="text"
          value="{{system.battleStatus.power.magic.total}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
          disabled="true"
        />
        <h4>
          <img
            src="/systems/lhtrpg/assets/ui/magic.svg"
            alt=""
          />
        </h4>
      </div>
    </div>

    <div class="defense grid grid-3col grid-span-3">
      <h4 class="grid-span-3">{{localize 'LHTRPG.Label.Defense'}}</h4>
      <div class="grid-span-3 flex flexrow">
        <div
          class="defense-phys"
          title="{{localize 'LHTRPG.Tooltip.PhysDefense'}}"
        >
          <input
            class="defense-phys-input"
            name="system.battleStatus.defense.phys.total"
            type="text"
            value="{{system.battleStatus.defense.phys.total}}"
            placeholder="0"
            data-dtype="Number"
            maxlength="2"
            disabled="true"
          />
          <h4>
            <img
              src="/systems/lhtrpg/assets/ui/phys-def.svg"
              alt=""
            />
          </h4>
        </div>
        <div
          class="defense-magic"
          title="{{localize 'LHTRPG.Tooltip.MagicDefense'}}"
        >
          <input
            class="defense-magic-input"
            name="system.battleStatus.defense.magic.total"
            type="text"
            value="{{system.battleStatus.defense.magic.total}}"
            placeholder="0"
            data-dtype="Number"
            maxlength="2"
            disabled="true"
          />
          <h4>
            <img
              src="/systems/lhtrpg/assets/ui/magic-def.svg"
              alt=""
            />
          </h4>
        </div>
      </div>
    </div>
  </div>

  {{!-- Attributes and related skills --}}
  <div class="attributes grid grid-8col grid-span-8">
    <div class="str grid grid-2col grid-span-2">
      <h4 class="attr-name grid-span-2">[STR]</h4>
      <div class="attr-inputs flexcolumn grid-span-2">
        <input
          class="attr-mod-input"
          name="system.attributes.str.mod"
          type="text"
          value="{{system.attributes.str.mod}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
          disabled="true"
        />
        <input
          class="attr-input"
          id="str-value"
          name="system.attributes.str.value"
          type="text"
          value="{{system.attributes.str.value}}"
          placeholder="0"
          data-dtype="Number"
          data-label="str"
          maxlength="2"
        />
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="athletics"
        data-dice="{{system.checks.athletics.dice}}"
        data-bonus="{{system.checks.athletics.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.athletics'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.athletics.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.athletics.total}}</span>
        </div>
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="endurance"
        data-dice="{{system.checks.endurance.dice}}"
        data-bonus="{{system.checks.endurance.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.endurance'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.endurance.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.endurance.total}}</span>
        </div>
      </div>
    </div>
    <div class="dex grid grid-2col grid-span-2">
      <h4 class="attr-name grid-span-2">[DEX]</h4>
      <div class="attr-inputs flexcolumn grid-span-2">
        <input
          class="attr-mod-input"
          name="system.attributes.dex.mod"
          type="text"
          value="{{system.attributes.dex.mod}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
          disabled="true"
        />
        <input
          class="attr-input"
          id="dex-value"
          name="system.attributes.dex.value"
          type="text"
          value="{{system.attributes.dex.value}}"
          placeholder="0"
          data-dtype="Number"
          data-label="dex"
          maxlength="2"
        />
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="disable"
        data-dice="{{system.checks.disable.dice}}"
        data-bonus="{{system.checks.disable.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.disable'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.disable.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.disable.total}}</span>
        </div>
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="operation"
        data-dice="{{system.checks.operation.dice}}"
        data-bonus="{{system.checks.operation.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.operation'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.operation.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.operation.total}}</span>
        </div>
      </div>
    </div>

    <div class="pow grid grid-2col grid-span-2">
      <h4 class="attr-name grid-span-2">[POW]</h4>
      <div class="attr-inputs flexcolumn grid-span-2">
        <input
          class="attr-mod-input"
          name="system.attributes.pow.mod"
          type="text"
          value="{{system.attributes.pow.mod}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
          disabled="true"
        />
        <input
          class="attr-input"
          id="pow-value"
          name="system.attributes.pow.value"
          type="text"
          value="{{system.attributes.pow.value}}"
          placeholder="0"
          data-dtype="Number"
          data-label="pow"
          maxlength="2"
        />
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="perception"
        data-dice="{{system.checks.perception.dice}}"
        data-bonus="{{system.checks.perception.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.perception'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.perception.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.perception.total}}</span>
        </div>
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="negotiation"
        data-dice="{{system.checks.negotiation.dice}}"
        data-bonus="{{system.checks.negotiation.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.negotiation'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.negotiation.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.negotiation.total}}</span>
        </div>
      </div>
    </div>

    <div class="int grid grid-2col grid-span-2">
      <h4 class="attr-name grid-span-2">[INT]</h4>
      <div class="attr-inputs flexcolumn grid-span-2">
        <input
          class="attr-mod-input"
          name="system.attributes.int.mod"
          type="text"
          value="{{system.attributes.int.mod}}"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
          disabled="true"
        />
        <input
          class="attr-input"
          id="int-value"
          name="system.attributes.int.value"
          type="text"
          value="{{system.attributes.int.value}}"
          data-label="int"
          placeholder="0"
          data-dtype="Number"
          maxlength="2"
        />
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="knowledge"
        data-dice="{{system.checks.knowledge.dice}}"
        data-bonus="{{system.checks.knowledge.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.knowledge'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.knowledge.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.knowledge.total}}</span>
        </div>
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="analysis"
        data-dice="{{system.checks.analysis.dice}}"
        data-bonus="{{system.checks.analysis.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.analysis'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.analysis.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.analysis.total}}</span>
        </div>
      </div>
    </div>

    <div class="grid-span-8 flexrow">
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="accuracy"
        data-dice="{{system.checks.accuracy.dice}}"
        data-bonus="{{system.checks.accuracy.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.accuracy'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.accuracy.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.accuracy.total}}</span>
        </div>
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="evasion"
        data-dice="{{system.checks.evasion.dice}}"
        data-bonus="{{system.checks.evasion.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.evasion'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.evasion.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.evasion.total}}</span>
        </div>
      </div>
      <div
        class="check flexcolumn grid-span-2 rollable-attributes"
        data-name="resistance"
        data-dice="{{system.checks.resistance.dice}}"
        data-bonus="{{system.checks.resistance.total}}"
      >
        <h4>{{localize 'LHTRPG.Check.resistance'}}</h4>
        <div class="flexrow">
          <span>{{system.checks.resistance.dice}}D</span>
          <span>+</span>
          <span>{{system.checks.resistance.total}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bad-status grid grid-14col">
  <div class="rated-statuses grid grid-6col grid-span-6">
    <div class="resource grid-span-6">
      <div class="flexrow">
        <label class="resource-label">Tags</label>
        <div class="align-right">
          <a
            class="tag-control"
            data-action="create"
            ><i class="fas fa-plus"></i
          ></a>
          <a
            class="tag-control"
            data-action="edit"
            ><i class="fas fa-edit"></i
          ></a>
        </div>
      </div>
      <ol class="tag-list">
        {{#each system.tags}}
        <li class="tag">
          <span>{{this}}</span>
          {{#if @root.flags.lhtrpg.isTagEditActive}}
          <a
            class="tag-control"
            data-action="delete"
            data-tag-id="{{@index}}"
          >
            <i class="fas fa-trash"></i>
          </a>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </div>
  </div>

  <div class="grid-span-2 status-row">
    <div class="status-checkbox flexrow">
      <label for="system.badStatus.dazed"
        >{{localize 'LHTRPG.Label.Dazed'}}</label
      >
      <input
        id="system.badStatus.dazed"
        name="system.badStatus.dazed"
        type="checkbox"
        data-dtype="Boolean"
        {{checked
        system.badStatus.dazed}}
      />
    </div>
    <div class="status-checkbox flexrow">
      <label for="system.badStatus.rigor"
        >{{localize 'LHTRPG.Label.Rigor'}}</label
      >
      <input
        id="system.badStatus.rigor"
        name="system.badStatus.rigor"
        type="checkbox"
        data-dtype="Boolean"
        {{checked
        system.badStatus.rigor}}
      />
    </div>
  </div>
  <div class="grid-span-3 status-row">
    <div class="status-checkbox flexrow">
      <label for="system.badStatus.confused"
        >{{localize 'LHTRPG.Label.Confused'}}</label
      >
      <input
        id="system.badStatus.confused"
        name="system.badStatus.confused"
        type="checkbox"
        data-dtype="Boolean"
        {{checked
        system.badStatus.confused}}
      />
    </div>
    <div class="status-checkbox flexrow">
      <label for="system.badStatus.staggered"
        >{{localize 'LHTRPG.Label.Staggered'}}</label
      >
      <input
        id="system.badStatus.staggered"
        name="system.badStatus.staggered"
        type="checkbox"
        data-dtype="Boolean"
        {{checked
        system.badStatus.staggered}}
      />
    </div>
  </div>
  <div class="grid-span-3 status-row">
    <div class="status-checkbox flexrow">
      <label for="system.badStatus.afflicted"
        >{{localize 'LHTRPG.Label.Afflicted'}}</label
      >
      <input
        id="system.badStatus.afflicted"
        name="system.badStatus.afflicted"
        type="checkbox"
        data-dtype="Boolean"
        {{checked
        system.badStatus.afflicted}}
      />
    </div>
    <div class="status-checkbox flexrow">
      <label for="system.badStatus.overconfident"
        >{{localize 'LHTRPG.Label.Overconfident'}}</label
      >
      <input
        id="system.badStatus.overconfident"
        name="system.badStatus.overconfident"
        type="checkbox"
        data-dtype="Boolean"
        {{checked
        system.badStatus.overconfident}}
      />
    </div>
  </div>
</div>
