<ol class="items-list">
  <li class="item grid grid-6col items-header">
    <div class="item-name grid-span-2">
      {{localize "LHTRPG.Monster.Skills"}}
    </div>
    <div class="item-name">{{localize "LHTRPG.Skill.Label.Timing"}}</div>
    <div class="item-name grid-span-2">
      {{localize "LHTRPG.Skill.Label.Check"}}
    </div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        title="Create item"
        data-type="skill"
      >
        <i class="fas fa-plus"></i>
        <span>{{localize "LHTRPG.Add"}}</span>
      </a>
    </div>
  </li>
  {{#each skillsMonster as |item id|}}
  <li
    class="item grid grid-6col"
    data-item-id="{{item._id}}"
  >
    <div class="item-name grid-span-2">
      <div class="item-image">
        <a
          class=""
          data-roll-type="item"
        >
          <img
            src="{{item.img}}"
            title="{{item.name}}"
            alt=""
            width="24"
            height="24"
          />
        </a>
      </div>
      <h4>{{item.name}}</h4>
    </div>
    <div class="item-timing">
      <h4>{{item.system.timing}}</h4>
    </div>
    <div class="item-checkType grid-span-2">
      <h4>{{item.system.checkType}}</h4>
    </div>
    <div class="item-controls">
      <a
        class="item-control item-edit"
        title="{{localize 'CAPHARNAUM.GearEditItem'}}"
      >
        <i class="fas fa-edit"></i>
      </a>
      <a
        class="item-control item-delete"
        title="{{localize 'CAPHARNAUM.GearDeleteItem'}}"
      >
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>
