<ol class="items-list">
	<li class="item grid grid-7col items-header">
		<div class="item-name grid-span-3">{{localize "LHTRPG.Monster.Skills"}}</div>
		<div class="item-name">{{localize "LHTRPG.Skill.Label.Timing"}}</div>
		<div class="item-name grid-span-2">{{localize "LHTRPG.Skill.Label.Check"}}</div>
		<div class="item-controls">
			<a class="item-control item-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i>
				{{localize "LHTRPG.Add"}}</a>
		</div>
	</li>
	{{#each skillsCombat as |item id|}}
		<li class="item grid grid-7col" data-item-id="{{item._id}}">
			<div class="item-name grid-span-3">
				<div class="item-image">
					<a class="" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24"
							height="24" /></a>
				</div>
				<a class="item-control item-edit">
					<h4>{{item.name}}</h4>
				</a>
			</div>
			<div class="item-timing">
				<h4>{{item.data.timing}}</h4>
			</div>
			<div class="item-checkType grid-span-2">
				<h4>{{item.data.checkType}}</h4>
			</div>
			<div class="item-controls">
				<a class="item-control item-delete" title=""><i
						class="fas fa-trash"></i></a>
			</div>
		</li>
	{{/each}}
</ol>