div.window-resizable-handle {
   visibility: hidden;
}

input[type="checkbox"] {
   /* Add if not using autoprefixer */
   -webkit-appearance: none;
   appearance: none;
   /* Not removed via appearance */
   margin: 0;
   font: inherit;
   color: $lhtrpg-font-color-ui;
   border: 2px solid $lhtrpg-font-color-ui;
   border-radius: 100%;

   display: grid;
   place-content: center;
}

input[type="checkbox"]::before {
   color: $lhtrpg-font-color-ui;
   content: "";
   width: 0.65em;
   height: 0.65em;
   transform: scale(0);
   transition: 120ms transform ease-in-out;
   box-shadow: inset 1.15em 1.15em $lhtrpg-color-dark-green;

   transform-origin: bottom left;
   clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);;
}

input[type="checkbox"]:checked::before {
   transform: scale(1);
}

input[type="checkbox"]:checked {
   -webkit-filter: none;
   background-color: $lhtrpg-font-color-ui;
}


.window-header {
   position: absolute;
   border-bottom: none;
   top: 25px;
   left: 240px;
   height: 50px;
   width: 358px;
   z-index: 1;
   overflow: visible;

   .window-title {
      display: none !important;
   }

   h4.window-title,
   a.header-button.configure-token,
   a.header-button.configure-sheet {
      height: fit-content;
   }

   a.header-button.close {
      position: absolute;
      top: 5px;
      left: 355px;
      background-image: url("../assets/ui/button_close.webp");
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;
      height: 60px;
      width: 60px;
      font-size: 0;
      transition: background-size 0.1s ease-in;
   }

   a.header-button.close:hover {
      filter: brightness(1.25) drop-shadow(0 0 3px white);
      background-size: 55px;
   }

   a.header-button.close:active {
      filter: brightness(0.70);
      background-size: 50px;
   }


}

section.window-content {
   background: transparent;
   overflow: hidden;
   background: url("../assets/ui/bg_charsheet.webp");
   background-size: 700px 700px;
   background-repeat: no-repeat;
   filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.4));
   overflow: visible;
}

.profile-img {
   flex: 0 0 285px;
   height: 285px;
   width: 285px;
   margin-right: 10px;
   position: absolute;
   top: 0px;
   left: 0;
   clip-path: path('M0 0 285 0V142.5L142.5 285 0 142.5V0');
   border: 0px transparent;
}

.class-img {
   flex: 0 0 130px;
   height: 130px;
   width: 130px;
   position: absolute;
   top: 130px;
   left: -140px;
   border: 0px transparent;
}

.sheet-header {

   .collapsible {
      position: absolute;
      top: 184px;
      left: 623px;
      background: url("../assets/ui/uncollapse.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 60px;
      background-position: center;
      height: 60px;
      width: 60px;
      transition: transform 0.3s ease-in-out;

      z-index: 1;
   }

   .active {
      // background: url("../assets/ui/collapse.webp");
      transform: rotate(540deg);
      background-size: contain;
      background-repeat: no-repeat;
      height: 60px;
      width: 60px;
      transition: transform 0.3s ease-in-out;
   }

   .collapsible:hover {
      background-size: 65px;
      filter: drop-shadow(0px 0px 3px white);
   }

   .content {
      overflow: hidden;
      transition: transform 0.05s ease-out;
   }

   .info-windows {
      position: absolute;
      top: 135px;
      left: 640px;
      transform: perspective(400px) rotateY(-90deg);
      max-width: 211px;

      .hate-window,
      .fatigue-window {
         position: relative;
         margin-top: 5px;

         // height: 78px;
         // width: 222px;
         height: 65px;
         width: 211px;
         background-image: url("../assets/ui/info_window_short.webp");
         background-size: contain;
         background-repeat: no-repeat;

         .hate-label,
         .fatigue-label {
            text-align: center;
            font-size: 16px;
            color: $lhtrpg-font-color-primary;

            position: absolute;
            top: 42px;
            left: 32px;
            width: 65px;
         }

         .hate-input,
         .fatigue-input {
            font-size: 32px;
            height: 32px;
            width: 140px;
            font-family: $lhtrpg-font-secondary;
            // text-shadow: 0 0 3px $lhtrpg-font-color-primary;
            color: $lhtrpg-font-color-primary;

            text-align: center;

            position: absolute;
            top: 2px;
            left: 38px;
         }

      }

      .fatigue-window {
         // top: 100px;
         // left: 570px;
      }
   }

   .header-fields {
      position: absolute;
      top: 50px;
      left: 295px;


      .charname {
         font-size: 50px;
         position: relative;
         top: -10px;
         left: -25px;
         height: 90px;
         width: 370px;
         text-align: center;

         input {
            vertical-align: -webkit-baseline-middle;
         }
      }

      .race {
         display: flex;
         width: 300px;
         height: 60px;

         align-items: center;
         text-align: center;

         label {
            flex-basis: 50px;
            font-size: 20px;
            margin-right: 30px;
            color: $lhtrpg-font-color-ui;
            // text-shadow: 0 0 2px $lhtrpg-font-color-ui;
         }

         input {
            font-size: 30px;
            height: 30px;
            flex-basis: 200px;
            flex-grow: 1;
            text-align: left;
         }
      }

      .classes {
         margin-top: 15px;
         height: 85px;
         width: 230px;

         .subclass {
            font-size: 25px;
            color: $lhtrpg-font-color-ui;
            // text-shadow: 0 0 2px $lhtrpg-font-color-ui;
         }

         .class {
            font-size: 35px;
            height: 50px;
            margin-left: 5px;
         }
      }

      .levels {
         font-size: 40px;
         font-family: $lhtrpg-font-secondary;
         position: absolute;
         top: 163px;
         left: 270px;
         text-align: center;
         width: 70px;

         input {
            height: 50px;
         }

         .level {
            position: relative;
            top: 2px;
         }
      }
   }

}

.sheet-body {
   position: absolute;
   top: 320px;
   left: 139px;
   height: 350px;
   width: 500px;
   margin-top: 0;

   color: $lhtrpg-font-color-primary;
   //text-shadow: 0 0 2px white;

   .stats {
      margin-left: 5px;
      margin-right: 5px;
      gap: 4px;
      grid-template-rows: 95px 95px;

      nav.status-tabs {
         position: absolute;
         display: flex;
         flex-direction: row;
         top: 325px;
         left: 162px;
         width: 220px;
         height: 45px;

         a {
            background: url("../assets/ui/confirm-tab.webp");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            align-items: center;
            vertical-align: middle;
            line-height: 45px;
            height: 45px;
            width: 120px;
            filter: grayscale(100%) opacity(50%);
            transition: filter 0.3s ease-in;
         }
         a.active {
            filter: grayscale(0%) opacity(100%) drop-shadow(0 0 5px white);
         }
      }

      .battle-status {
         gap: 14px;
         text-align: center;
         margin-top: 0;
         grid-template-rows: 75px 60px 70px;
         row-gap: 2px;

         img {
            border: none;
            height: 25px;
         }

			.hp {
				h4:first-child {
					background: -webkit-linear-gradient(#63da30, #e2fb2f);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					text-shadow: none;
					font-weight: bold;
				}

				input[name="data.health.value"] {
					// flex-grow: inherit;
					background: -webkit-linear-gradient(#63da30, #e2fb2f);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					text-shadow: none;
					font-weight: bold;
					text-align: right;
				}

				input[name="data.health.max"] {
					text-align: left;
				}
			}

			.fate {
				h4:first-child {
					background: -webkit-linear-gradient(#17d7f0, #c484da);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					text-shadow: none;
					font-weight: bold;
				}

				input[name="data.fate.value"] {
					background: -webkit-linear-gradient(#17d7f0, #c484da);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					text-shadow: none;
					font-weight: bold;
					text-align: right;
				}

				input[name="data.fate.max"] {
					text-align: left;
				}
			}

         .hp,
         .fate {
            text-align: center;
            grid-column-end: span 3;
            font-size: 25px;

            h4 {
					color: $lhtrpg-font-color-ui;
               margin: 0;
            }

            .hp-gauge,
            .fate-gauge {
               align-items: baseline;
               justify-content: center;

               input {
                  font-family: $lhtrpg-font-secondary;
                  font-size: 25px;
                  text-shadow: none;
               }

               span {
                  flex-grow: inherit;
                  color: #9cf3da;
               }
            }
         }

         .power {
            margin-top: 0;
            grid-template-rows: 20px 50px;

				h4 {
					color: $lhtrpg-font-color-ui;
				}

            h4:lang(ja) {
               font-size: 18px;
            }

            .power-attack,
            .power-resto,
            .power-magic {
               position: relative;
               top: -10px;
            }
         }

         .defense {
            margin-top: 0;
            grid-template-rows: 20px 50px;

				h4 {
					color: $lhtrpg-font-color-ui;
				}

            h4:lang(ja) {
               font-size: 18px;
            }

            .defense-phys,
            .defense-magic {
               position: relative;
               top: -10px;
            }
         }

         .speedInit {
            margin: 0;
         }
      }

      .attributes {
         gap: 14px;
			grid-template-rows: 150px 10px 30px;
         text-align: center;
         margin-top: 0;

         h4 {
            color: $lhtrpg-font-color-ui;
            align-self: center;
				margin-bottom: -5px;
         }

			h4.attr-name {
				font-size: 20px;
			}

         .grid {
            gap: 0px;
            margin-top: 0;
            margin-bottom: 0;
         }

         .attr-inputs {
            font-family: $lhtrpg-font-secondary;

            .attr-mod-input {
					color: $lhtrpg-font-color-ui;
               font-size: 25px;
            }

            .attr-input {
               position: relative;
               top: -5px;
            }
         }

         .check {

				h4 {
					font-family: $lhtrpg-font-primary;
					font-size: 12px;
				}

            h4:lang(ja) {
               font-size: 18px;
            }

            div {
					justify-content: center;
               font-family: $lhtrpg-font-secondary;
               align-items: baseline;
            }

				input {
					min-width: 0;
					padding: 0;
					flex-grow: 0.2;
				}

				span {
					color: $lhtrpg-font-color-ui;
					flex-grow: 0.1;
					min-width: 0;
				}
         }
      }

      .bad-status {
         align-items: baseline;
         margin-top: 25px;
         grid-template-rows: 80px;
         text-align: center;
         gap: 1px;
         font-size: 12px;

         color: $lhtrpg-font-color-ui;

         img {
            height: 25px;
            border: none;
         }

         input {
            font-size: 16px;
         }

         .tag-list {
            height: 50px;

            .tag {
               max-height: 25px;
            }
         }

         .rated-statuses {
            gap: 0;
            margin-top: 0;
            grid-template-rows: 38px 38px;

            div:nth-child(2) {
               grid-column-start: 2;
               grid-column-end: 6;
            }
         }

         .barrier,
         .regen,
         .decay,
         .cancel,
         .pursuit {

            h4 {
               position: relative;
               top: -8px;
            }

            h4:lang(ja) {
               font-size: 18px;
            }
         }

         .status-row {
            align-self: center;
         }

         .status-checkbox {
            margin-bottom: 5px;
            text-align: right;
            align-items: baseline;

            label {
               margin-right: 5px;
            }

            label:lang(ja) {
               font-size: 18px;
            }
         }
      }
   }

	h4.tab-title {
		position: absolute;
		top: 317px;
		left: 47px;
		font-family: 'Edu SA Beginner';
		font-size: 25px;
		color: $lhtrpg-font-color-ui;
	}

}

.sheet-tabs {
   position: absolute;
   top: 320px;
   left: 45px;

   display: flex;
   flex-direction: column;

   border: none;

   img {
      border: none;
      height: 60px;
   }

   a {
      filter: grayscale(100%);
      margin-bottom: 5px;

   }

   a.active {
      filter: grayscale(0%);
      transition: filter 0.3s ease-out;
   }
}