<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/lhtrpg/templates/item/parts/item-header.html"}}

  <section class="sheet-stats">

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Item.Label.Rank'}}</label>
      <div>
        <input class="itemRank-input" type="text" name="system.rank" value="{{system.rank}}" placeholder="0"
          data-dtype="Number" maxlength="2">
      </div>
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Item.Label.Timing'}}</label>
      <div>
        <input class="itemTiming-input" type="text" name="system.timing" value="{{system.timing}}" placeholder="-"
          data-dtype="text">
      </div>
    </div>

    <div class="stat-div itemCheck">
      <label>{{localize 'LHTRPG.Item.Label.Check'}}</label>
      <div>
        <input class="itemCheck-input" type="text" name="system.check" value="{{system.check}}" placeholder="-"
          data-dtype="text">
      </div>
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Item.Label.Target'}}</label>
      <div>
        <input class="itemTarget-input" type="text" name="system.target" value="{{system.target}}" placeholder="-"
          data-dtype="text">
      </div>
    </div>
    <div class="stat-div">
      <label>{{localize 'LHTRPG.Item.Label.Range'}}</label>
      <div>
        <input class="itemRange-input" type="text" name="system.range" value="{{system.range}}" placeholder="-"
          data-dtype="text">
      </div>
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Item.Label.Price'}}</label>
      <div>
        <input class="itemPrice-input" type="text" name="system.price" value="{{system.price}}" placeholder="0"
          data-dtype="Number">
      </div>
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Item.Label.Equipped'}}</label>
      <div>
        <input class="itemEquipped-input" type="checkbox" name="system.equipped" {{checked system.equipped}}
          data-dtype="Boolean" />
      </div>
    </div>

  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'LHTRPG.Description.Label'}}</a>
    <a class="item" data-tab="effects">{{localize 'LHTRPG.Effect.Label'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body itemGear">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor enrichments.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{!-- As you add new fields, add them in here! --}}
      {{> "systems/lhtrpg/templates/item/parts/item-effects.html"}}
    </div>
  </section>
</form>