<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-3col">
        <div class="resource flexcol">
          <label class="resource-label">{{localize 'LHTRPG.Label.Type'}}</label>
          <select name="data.subtype" value="{{data.subtype}}">
            {{#select data.subtype}}
              <option value="Basic">{{localize 'LHTRPG.Skill.Type.Basic'}}</option>
              <option value="General">{{localize 'LHTRPG.Skill.Type.General'}}</option>
              <option value="Combat">{{localize 'LHTRPG.Skill.Type.Combat'}}</option>
            {{/select}}
          </select>
        </div>
        <div class="resource grid-span-2">
          <div class="flexrow">
            <label class="resource-label">{{localize 'LHTRPG.Label.Tags'}}</label>
            <div class="align-right">
              <a class="tag-control" data-action="create"><i class="fas fa-plus"></i></a>
              <a class="tag-control" data-action="edit"><i class="fas fa-edit"></i></a>
            </div>
          </div>
          <ol class="tag-list">
            {{#each data.tags}}
              <li class="tag">
                <span>{{this}}</span>
                {{#if @root.flags.lhtrpg.isTagEditActive}}
                  <a class="tag-control" data-action="delete" data-tag-id="{{@index}}">
                    <i class="fas fa-trash"></i>
                  </a>
                {{/if}}
              </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-stats">

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Skill.Label.SR'}}</label>
      <div>
        <input class="skillRank-input" type="text" name="data.skillRank.value" value="{{data.skillRank.value}}"
          placeholder="0" data-dtype="Number" maxlength="2">
        <span>/</span>
        <input class="skillRank-input max" type="text" name="data.skillRank.max" value="{{data.skillRank.max}}"
          placeholder="0" data-dtype="Number" maxlength="2">
      </div>
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Skill.Label.Timing'}}</label>
      <input class="timing-input" type="text" name="data.timing" value="{{data.timing}}" placeholder="{{localize 'LHTRPG.Skill.Placeholder.Timing'}}"
        data-dtype="text">
    </div>

    <div class="stat-div checkType">
      <label>{{localize 'LHTRPG.Skill.Label.Check'}}</label>
      <input class="checkType-input" type="text" name="data.checkType" value="{{data.checkType}}"
        placeholder="{{localize 'LHTRPG.Skill.Placeholder.Check'}}" data-dtype="text">
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Skill.Label.Target'}}</label>
      <input class="target-input" type="text" name="data.target" value="{{data.target}}" placeholder="{{localize 'LHTRPG.Skill.Placeholder.Target'}}"
        data-dtype="text">
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Skill.Label.Range'}}</label>
      <input class="range-input" type="text" name="data.range" value="{{data.range}}" placeholder="{{localize 'LHTRPG.Skill.Placeholder.Range'}}"
        data-dtype="text">
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Skill.Label.Cost'}}</label>
      <input class="cost-input" type="text" name="data.cost" value="{{data.cost}}" placeholder="{{localize 'LHTRPG.Skill.Placeholder.Cost'}}" data-dtype="text">
    </div>

    <div class="stat-div">
      <label>{{localize 'LHTRPG.Skill.Label.Limit'}}</label>
      <input class="limit-input" type="text" name="data.limit" value="{{data.limit}}" placeholder="{{localize 'LHTRPG.Skill.Placeholder.Limit'}}"
        data-dtype="text">
    </div>

  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{!-- As you add new fields, add them in here! --}}
      {{> "systems/lhtrpg/templates/item/parts/item-effects.html"}}
    </div>
  </section>
</form>